body {
    font-family: "Raleway";
}

h3 {
    font-size: 16px;

}

h3.subtitle {
    margin-bottom: 4px;
    border-bottom: 2px solid #29ae9b;
}

h3.subtitle2 {
    margin-bottom: 4px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
}

}

h3.produk-title {
    font-weight: 700;
}

h3.promo-title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 2px !important;
}

h4 {
    font-size: 8px;
}

.p12 {
    font-size: 12px;
}

.p14 {
    font-size: 14px;
}

.pgrey {
    color: #999999;
    font-weight: 700;
}

.pprimer {
    color: #2ab27b !important;
}

#menu-padding-helper {
    width: 100%;
    height: 40px;
}

.menu-block {
    position: fixed;
    width: 100%;
    z-index: 998;
    background: #29ae9b;
}

.menu-block .button-collapse {
    display: inline-block;
    padding: 10px;
}

.menu-block .material-icons {
    color: white;
    vertical-align: middle;
}

.menu-block .menu-header {
    display: inline-block;
    text-transform: capitalize;
    color: white;
    font-size: 21px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.slider {
    height: 200px !important;
}

.card-image-promo img {
    width: 100px !important;
    top: 25px !important;
    margin: 0 auto;
}

.card-image-resep img {
    width: 100px !important;
    top: 14px !important;
    margin: 0 auto;
    padding: 4px;
}

.card .card-content {
    padding: 2px;
}

.card-content-promo {
    padding: 8px 16px !important;
}

.card .card-action {
    padding: 16px 0px;
}

.card-action-promo {
    text-align: center;
}

.nextlink {
    color: #2ab27b;
    font-size: 12px;
}

.hargalama {
    font-size: 12px;
    color: #999999;
    text-decoration: line-through;
}

.hargapromo {
    font-size: 10px;
}

.hargalamapromo {
    font-size: 8px;
    color: #999999;
    text-decoration: line-through;
}

.diskon {
    color: #2ab27b;
    font-weight: 700;
}

.slider-detail .slides {
    background: white !important;
}

.slider-detail .slides li img {
    width: 50% !important;
}

.slider-detail .slides li {
    text-align: center;
}

.row > .subtitle {
    margin: 16px 0.75rem;
}

.table-detail td {
    padding: 5px 10px;
    font-size: 12px;
}

.table-detail tr td:first-child {
    font-weight: 700;
}

span.produk-detail-title {
    display: block;
    padding: 16px 16px 0px 16px;
    font-weight: 700;
}

span.produk-detail-harga {
    padding: 0px 16px 16px 16px;
    font-weight: 300;
    color: #2ab27b;
}

.card-stacked-resep {
    padding: 8px;
}

.social-stat {
    color: #2ab27b !important;
    padding: 8px 0px
}

.resep-image img {
    width: 100%;
}

.ptitle {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

.pdate {
    font-size: 10px;
    font-weight: 300;
    color: #999999;
}

.pcreated {
    font-size: 12px;
    color: #999999;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.pstat {
    padding: 0px;
    font-size: 12px;
}

.resep-stat {
    display: inline-block;
    width: 45%;
}

.resep-share {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.collapsible-sidebar {
    padding: 0px 32px !important;
}

.collapsible-body-sidebar {
    padding: 0px 0px 0px 30px !important;
}

.collapsible-body-sidebar li a {
    font-size: 14px;
    color: #999;
}

.collapsible-body-alamat {
    padding: 0px 16px 0px 16px !important;
}

.icon-sidebar {
    color: rgba(0, 0, 0, 0.54);
    margin-right: 32px !important;
    width: 24px !important;
    font-size: 24px !important;
}

.total {
    border: 1px solid #2ab27b;
    background: #2ab27b;
    color: white;
    padding: 10px;
    margin: 0.5rem 0 1rem 0;
}

.total p {
    margin: 0px !important;
}

.ppading {
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
}

.pnomargin {
    margin: 0px !important;
}

.logo-bca img {
    width: 135px;
    margin: 8px 0px;
}

.rek {
    margin: 10px 0px;
}

.card-image-pembayaran {
    width: 200px;
}

.card-akun-image img {
    width: 200px !important;
    margin: 0px auto !important;
}

.card-akun-content {
    margin: 8px 0px !important;
    text-align: center;
}

.card-akun-content p {
    padding: 4px 0px !important;
}

.table12 tr td, .table12 thead {
    font-size: 12px !important;
}

.pagination li.active {
    background-color: #2ab27b !important;
}

.panel-resep-title {
    color: #555555 !important;
    font-size: 14px;
    font-weight: 700;
}

.user-avatar {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50% !important;
    margin: 0 auto;
}

#user-avatar {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50% !important;
    margin: 0 auto;

}