
//Custom
$main-color : #29ae9b;
$hitam : #58585a;
$putih : #ffffff;
$grey : #999999;
$grey-line : #dce0e0;


// Body
$body-bg: #edeff0;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $main-color;
$brand-info: #79CCCD;
$brand-success: #2ab27b;
$brand-warning: #ff941c;
$brand-danger: #ff5a5f;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $hitam;
$link-color: $main-color;

// Navbar
$navbar-default-bg: $putih;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Links
$link-hover-color		: none !default;
$link-hover-decoration	: none !default;
