
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome
@import "node_modules/font-awesome/scss/font-awesome";


// taggle
.taggleContainer {
  ul {
    -webkit-padding-start: 8px !important;
  }

  .taggle_list .taggle:hover {
    padding-right: 20px !important;
  }

  .taggle_list .taggle .close {
    font-size: 22pt !important;
    color: #990033 !important;
  }
  @import "node_modules/taggle/example/scss/taggle";
}

// Components
@import "components/header";
@import "components/navbar";
@import "components/footer";
@import "components/sidepanel";

// Pages
@import "pages/home";
@import "pages/detailCoffee";
@import "pages/detailMesin";
@import "pages/detailArticle";
@import "pages/listCoffee";
@import "pages/listMesin";
@import "pages/listArticle";
@import "pages/komparasi";
@import "pages/checkout";
@import "pages/pembayaran";
@import "pages/cart";
@import "pages/panelAkun";
@import "pages/panelCart";
@import "pages/socialAkun";

//Custom
@import "static";