
//Custom
$main-color : #29ae9b;
$hitam : #58585a;
$putih : #ffffff;
$grey : #999999;
$grey-line : #dce0e0;


// Body
$body-bg: #edeff0;


// Brands
$brand-primary: $main-color;
$brand-info: #79CCCD;
$brand-success: #2ab27b;
$brand-warning: #ff941c;
$brand-danger: #ff5a5f;
